.app-wrapper {
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-areas: 
  "h h"
  "n c";
  grid-template-columns: 3fr 9fr ;
  grid-template-rows: 60px 1fr;
  grid-gap: 10px;
}

.header{
  display: flex;
  grid-area: h;
  background-color: #00dc54;
  align-items: center;
  border-radius: 10px;
}
.nav{
  grid-area: n;
  background-color: #00dc54;
  border-radius: 10px;
}

.content {
  grid-area: c;
  border-radius: 10px;
}
.content img {
  border-radius: 10px;
}
.header img{
  width: 40px;
  margin-left: 20px;
  border-radius: 100%;

}